<div class="big-fair-human">
    <div class="big-fair-human__main">
        <div class="big-fair-human__main__delimer"></div>
        <div class="big-fair-human__main__label">
            <p>Big<span>.</span></p>
            <p>Fair<span>.</span></p>
            <p>Human<span>.</span></p>
        </div>
        <p class="big-fair-human__main__description">Learn why over <b>5 million clients choose XM</b> as their trusted online broker.</p>
    </div>
    <div class="big-fair-human__blocks">
        <div class="big-fair-human__block">
            <div class="big-fair-human__block__img">
                <img src="assets/img/authorized-icon.svg">
            </div>
            <h3 class="big-fair-human__block__title">Authorised and Regulated</h3>
            <p class="big-fair-human__block__description">At XM, we adhere to all regulatory standards and are fully authorised and regulated by FSC.</p>
        </div>
        <div class="big-fair-human__block">
            <div class="big-fair-human__block__img">
                <img src="assets/img/community-icon.svg">
            </div>
            <h3 class="big-fair-human__block__title">Committed and Fair</h3>
            <p class="big-fair-human__block__description">We operate with complete transparency and adhere to the highest professional and ethical standards.</p>
        </div>
        <div class="big-fair-human__block">
            <div class="big-fair-human__block__img">
                <img src="assets/img/award-icon.svg">
            </div>
            <h3 class="big-fair-human__block__title">Multi-Award-Winning</h3>
            <p class="big-fair-human__block__description">Over the years we have received over 40 awards for the quality of our products and services.</p>
        </div>
        <div class="big-fair-human__block">
            <div class="big-fair-human__block__img">
                <img src="assets/img/support-icon.svg">
            </div>
            <h3 class="big-fair-human__block__title">24/7 Support</h3>
            <p class="big-fair-human__block__description">Our support agents are on hand 24/7 to answer your questions or assist you with any issues.</p>
        </div>
        <div class="big-fair-human__block__delimer-one"></div>
        <div class="big-fair-human__block__delimer-two"></div>
    </div>
</div>
