<section class="main">
    <div class="main__bg-img"></div>
    <div class="main__content content">
        <div class="content__text-block">
            <p class="content__text-block__label">trade with</p>
            <h1 class="content__text-block__main">
                <strong>Zero Swaps</strong> on All XM Ultra Low Accounts for more than 25 instruments!
            </h1>
            <p class="content__text-block__description">
                Enjoy spreads <strong>as low as 0.6 pips</strong> and <strong>leverage up to 1000:1</strong> on instruments like <strong>EURUSD, USDJPY, EURJPY, GBPUSD,</strong> and <strong>Gold.</strong>
            </p>
        </div>
        <div class="content__bottom-block">
            <xm-button class="content__bottom-block__button">OPEN ACCOUNT</xm-button>
            <div class="content__bottom-block__description bottom-description">
                <p class="bottom-description__demo">
                    New to trading? Try a <a href="/">Demo account.</a>
                </p>
                <p class="bottom-description__terms">
                    Terms and Conditions apply<span class="text__highlight--red">*</span>. To read the full T&Cs, <a class="text__highlight--red" href="/">click here.</a>
                </p>
            </div>
        </div>
    </div>
</section>
