@import "assets/styles/colors";
@import "assets/styles/mixins";
@import "assets/styles/vars";

.xm__button {
    cursor: pointer;
    border: none;
    max-width: 345px;
    width: 100%;
    height: 40px;

    &.regular {
        @include xm-text(24px, $font-weight-bold, $font-bebas, 27px);
        background: $bg-button-regular;
        color: $text-color-white;
    }

    &.disabled {
        background: #CCC;
    }
}

@media screen and (max-width: 400px) {
    .xm__button {
        max-width: 290px;
    }
}
