<div class="trade d-flex flex-column align-items-center">
    <div class="trade__text-content text-align-center">
        <h2 class="trade__text-content__title">Why <b>Trade</b> with XM?</h2>
        <div class="trade__text-content__delimer"></div>
        <p class="trade__text-content__description">
            We have been providing traders around the world with the same <strong>premium experience</strong> for over a decade. As an <strong>industry-leader</strong>, we know what the modern trader needs to be <strong>successful</strong> in the markets.
        </p>
    </div>
    <div class="trade__blocks">
        <div class="trade__block trade__block__one">
            <h2 class="trade__block__title">Superior Trade Execution</h2>
            <div class="trade__block__delimer"></div>
            <p class="trade__block__description">
                <b>99%</b> of trades are executed in <b>less than a second,</b> with no requotes or rejections.
            </p>
        </div>
        <div class="trade__block trade__block__two">
            <h2 class="trade__block__title">Competitive Pricing</h2>
            <div class="trade__block__delimer"></div>
            <p class="trade__block__description">
                We offer some of the <b>lowest spreads</b> and we don’t charge commissions.
            </p>
        </div>
        <div class="trade__block trade__block__three">
            <h2 class="trade__block__title">Advanced<br>Technology</h2>
            <div class="trade__block__delimer"></div>
            <p class="trade__block__description">
                Trade on <b>MT4</b> or <b>MT5</b>, with expert tools, across desktop, web and mobile.
            </p>
        </div>
        <div class="trade__block trade__block__fourth">
            <h2 class="trade__block__title">Start with $5</h2>
            <div class="trade__block__delimer"></div>
            <p class="trade__block__description">
                Start trading your preferred instruments with as little as a <b>$5 minimum deposit.</b>
            </p>
        </div>
    </div>
</div>
