@import "assets/styles/bootstrap.scss";
@import "assets/fonts/bebas-neue-pro/bebas-neue-pro.scss";
@import "assets/fonts/roboto/roboto.scss";

body {
    background: #201D27;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body, nav, ul, li, p, h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #fff;
}
