// bg colors
$bg-color-black: #000000;
$bg-color-page: #201D27;
$bg-button-regular: #29A643;
$bg-crypto-name: #FFF8D6;

// font colors
$text-color-white: #FFFFFF;
$text-color-black: #000000;
$text-color-growth-indication: #B1FFC2;
$text-color-fall-indication: #FFA3A6;
$text-color-red: #D51820;
$text-color-light-gray: #DDDDDD;
