/* font */
$font-roboto: 'Roboto', sans-serif;
$font-bebas: 'Bebas Neue';

/* default font/text settings */
$default-font-size: 14px;
$default-font-weight: 400;
$default-font-family: $font-roboto;
$default-line-height: 22px;
$default-letter-spacing: normal;

/* font weight */
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra: 800;
