<div class="socials">
    <div class="socials__wrapper">
        <div class="socials__partners-list">
            <div class="socials__partner">
                <img src="assets/img/partners/meta-quotes-partner.png" alt="MetaQuotes">
            </div>
            <div class="socials__partner">
                <img src="assets/img/partners/verisign-partner.png" alt="Verisign">
            </div>
            <div class="socials__partner">
                <img src="assets/img/partners/unicef-partner.png" alt="unicef">
            </div>
            <div class="socials__partner">
                <img src="assets/img/partners/investor-in-people-partner.png" alt="INVESTORS IN PEOPLE">
            </div>
        </div>
        <ul class="socials__links">
            <p class="socials__links__label">Follow us on</p>
            <li class="socials__link">
                <a href="https://facebook.com/" target="_blank">
                    <img src="assets/img/social-icons/facebook.svg" alt="Facebook">
                </a>
            </li>
            <li class="socials__link">
                <a href="https://x.com/" target="_blank">
                    <img src="assets/img/social-icons/twitter.svg" alt="Twitter">
                </a>
            </li>
            <li class="socials__link">
                <a href="https://youtube.com/" target="_blank">
                    <img src="assets/img/social-icons/youtube.svg" alt="YouTube">
                </a>
            </li>
            <li class="socials__link">
                <a href="https://instagram.com/" target="_blank">
                    <img src="assets/img/social-icons/instagram.svg" alt="Instagram">
                </a>
            </li>
            <li class="socials__link">
                <a href="https://linkedin.com/" target="_blank">
                    <img src="assets/img/social-icons/linkedin.svg" alt="Linkedin">
                </a>
            </li>
        </ul>
    </div>
</div>
